    <div class="row">
    <div class="header col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-5 col-xs-12"></div>

      </div>
      <span>Let's get started planning.</span>
    </div>

    <br/>

    <div class="subtext col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
      <span> Would sort of plan are you thinking? </span>
      <br/>
      <hr>
      <div class="row">
        <div class="col-xs-5">
          <button id="get-burial" type="button" class="btn btn-primary btn-unrounded btn-block">Burial Plan</button>
        </div>
        <div class="col-xs-5 col-xs-offset-2">
          <button id="get-cremation" type="button" class="btn btn-primary btn-unrounded btn-block">Cremation Plan</button>
        </div>
      </div>
    </div>
  </div>
