
  <div class="row">
    <div class="header col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-5 col-xs-12"> <i class="fa fa-check"></i></div>

      </div>
      <span>Thanks for helping with the basics.</span>
    </div>

    <br/>

    <div class="subtext col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
      <span> Now we'll help walk you through everything you'll need to know to plan a service.</span>
      <br/>
      <hr>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <button id="get-started" type="button" class="btn btn-primary btn-unrounded btn-block">Start Planning</button>
        </div>
      </div>
    </div>
  </div>
