 <div class="row">
    <div class="header col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-5 col-xs-12"></div>

      </div>
      <span>No worries. This is something that your funeral director can always help you with.</span>
    </div>

    <br/>

    <div class="subtext col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
      <span> Send out your information now to Funeral Homes near by. Soon we'll be able to give you a price quote.</span>
      <br/>
      <hr>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <button id="get-started" type="button" class="btn btn-primary btn-unrounded btn-block">Send to Funeral Homes</button>
        </div>
      </div>
    </div>
  </div>
