<div class="wizard">
  <legend>Worship Space</legend>
  <div class="row content">
    <div class="header col-md-12 col-sm-12 col-xs-12">
      <span>No sweat. Most people don't.</span>
    </div>
    <div class="header col-md-12 col-sm-12 col-xs-12">
      <span>We can help you plan.</span>
    </div>
    <br>
    <div class="subtext col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
      <span> Would sort of plan are you thinking? </span>
      <br/>
      <hr>
      <div class="row">
        <div class="col-xs-5">
          <button id="get-burial-cemetery" type="button" class="btn btn-primary btn-unrounded btn-block"><%= link_to 'Cemetery Plan', user_burial_cemetery_plans_path %></button>
        </div>
        <div class="col-xs-5 col-xs-offset-2">
          <button id="get-burial-mausoleum" type="button" class="btn btn-primary btn-unrounded btn-block"><%= link_to 'Mausoleum Plan', user_burial__mausoleum_plans_path %></button>
        </div>
      </div>
    </div>
  </div>
</div>
