.crem-burial-plan {
  padding-left: 50px;
}
.maus-cemetery-plan {
  padding-left: 100px;
}

button
{
  a
  {
    color: #FFFFFF;
    &:hover
    {
      color: #FFFFFF;
    }
  }
}

.radios
  {
    display: inline-block;

    .input-hidden {
      display:none;
    }

    input[type="radio"]:checked + label {
        background-color: #2184be;
        color: #FFFFFF
    }

   label {
      text-align: center;
      height: 120px;
      width: 120px;
      position: relative;
      color: rgba(0,0,0,0.44);
      margin-left: 8px;
      margin-right: 8px;
      margin-top: 16px;
      margin-bottom: 16px;
      box-shadow: 0 4px 8px 0 rgba(81,81,81,0.15);
      padding: 20px;
      cursor: pointer;
      //overflow: hidden;
      border: 1px solid #c7c7c7;
      //outline: 1px solid;
  }



   label img {
      padding: 3px;

  }
}
.frame
{
  box-sizing: border-box;
  display: block;
  color: #000000;
  line-height: 24px;
  outline-color: #000000;


  @media screen and (min-width: $screen-sm-min)
  {
     margin-top: 20px;
  }



  ul
  {
    border: 1px solid #e1e1e1;
    border-radius: 6px;
    margin-top: 0;
    margin-bottom: 10px;
    outline: 0 !important;
    padding-left: 0px;
    li
    {
       padding: 15px 30px 15px 30px;
       text-align: left;
    }


    .frame-head
    {
      background: #e1e1e1;
      outline: 0 !important;
      list-style: none;
      font-size: 20px;
      .center
      {
        text-align: center;
      }
    }

    .disc-item
    {
      margin-left: 50px;
      list-style-type: disc;
      font-size: 16px;
    }
  }

}

.header
{
  color: #0079D1;
  font-size: 24px;
  margin-bottom: 12px;
  text-align: center;

}
.subtext
{
  text-align: center;
}


#passing-plan
{
  .steps
  {
    display: none;
  }
  .actions
  {
    ul
    {
      li
      {
        width: 200px;
        height: 200px;
        text-align: center;
        font-size: 20px;
        @media screen and (max-width: $screen-sm-max)
        {
          width: 120px;
          height: 120px;
        }
      }
    }
  }
}

.wizard
{

  .content
  {
    background-color: #FFFFFF;
    font-size: 16px;
    overflow: auto;
    height: auto;

    .form-label
    {
      color: #A9A9A9;
      font-weight: normal;
    }

    .btn-group
    {
      label {
        display: block;
        padding-left: 15px;
        text-indent: -15px;
      }
      input {
        width: 13px;
        height: 13px;
        padding: 0;
        margin:0;
        vertical-align: bottom;
        position: relative;
        top: -1px;
        *overflow: hidden;
      }
    }
  }

  .actions
  {
    .btn
    {
      width: 200px;
      height: 75px;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      font-size: 20px;
      @media screen and (max-width: $screen-sm-max)
      {
        width: 120px;
        height: 48px;
      }
    }
  }


}

