<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Yo!</p>
    <p>
      <p> A new lead has successfully been created, </p>
      <br>
      <p> Name: <h1> <%= @lead.name %> </h1> </p>
      <br>
      <p> Phone: <h1> <%= @lead.phone_number %> </h1> </p>
      <br>
    </p>
    <p>Have a great day!</p>
  </body>
</html>
